
/*POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  background: #101113;
    
    align-items: center;
    justify-content: center;
    height: 100vh; /* Garante que o body ocupe a altura total da viewport */
    margin: 0; /* Remove margens padrão */
    --default-blue-stroke: #4CAF50;
    --default-grey-black-fill: #525252;
    --default-strok: rgb(141, 141, 141);

}

.container-lista{
  background-color: #00000000;
  min-height: 300px;
  margin: 100px;
 
}
.h1-tittle{
  font-family: poppins;
  display: flex;
  justify-content: center;
  color: #FFC700;
  margin-top: 10px;
}

.a-list{

  padding-left: 3px;
  text-decoration: none;
  color: #FFC700;
  font-family: poppins;
  font-size: 23px;
}
.ul-list {
  display: flex;
  gap: 300px;
  list-style: none;
  text-align: center;
  justify-content: center;
  height: 200px;
}

.li-list{
  align-items: center;
  display: flex;
}


/*NAVBAR INICIO*/

.header {
 
  background: transparent;
  padding-inline: 16px;
  ;
}

.logo{

  text-decoration: none;
  color: #FFC700;
  padding-top: 10px;


}
.nav {
  position: relative;
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  position: fixed;
  top: 0;
  left: 0;
  width: 1280px;
  z-index: 99;
  background-color: #000000;*/
}

.nav .hamburger{
  justify-content: right;
  
}

.logo {
  font-size: 48px;
  color:#FFF;
  font-family: arial;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  padding-top: 15px;
}

.nav-list  a {
  font-size: 20px;
  color: #FFC700;
  padding-block: 16px;
  text-decoration: none;
  font-family: poppins;

}
.navbar-icon{
  list-style: none;
  padding-bottom: 10px;
  display: flex;
  gap: 15px;
 padding-left: 150px;

}
.icons{
  font-size: 20px;
  color: #FFC700;
  padding-block: 16px;
  text-decoration: none;
  font-family: poppins;
}

.icons:hover {
  color: #ffffff;
}
.navbar-menu:hover {
  color: #ffffff;
}

.hamburger {
  display: none;
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #FFC700;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #FFC700;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

.img-principal{
  display: flex;
  max-width: 100%;
}
/*NAVBAR FINAL*/
/*SOBRE NOS ---https://www.youtube.com/watch?v=bP83UT3Mpuk*/

section.topo-site{
  
  padding: 40px 4%;
}
section.topo-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
  
}


.flex{
  padding: 50px;
  display:flex;
  padding-right: 200px;
  padding-left: 200px;
  
  
}

.topo-site .txt-topo-site  h1{
  font-family: poppins;
  color: #FFC700;
  font-size: 30px;
  line-height: 40px;
}

.topo-site .txt-topo-site p{

  max-width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
  color:#fff;
  font-size: 30px;
  font-family: poppins;
  line-height: 1.5;
  text-align: justify;
}


.sobre-nos-link {
 
  text-decoration: none;
  color: #ffffff;
  font-family: poppins;
}

.btn-nos{

  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #FFC700;
  border: 0;
  border-radius: 30px;
  cursor:pointer;
  font-family: poppins;
}

.btn-nos:hover{

  box-shadow: 0px 0px 8px #ffffff;
}

.topo-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
 
}
/*ESTILIZAÇÃO DA MOVIMENTAÇÃO */
.hidden {
  opacity: 0;
  filter: blur(15px);
  transition: opacity 0.8s, filter 0.8s;
  /* movimento da esquerda para a direira --transform: translate(-100%)--;*/
}

.show {
  opacity: 1;
  filter: blur(0px);
  /* movimento da esquerda para a direira --transform: translate(0)--;*/
}

/*FIM DA ESTILIZAÇÃO DA MOVIMENTAÇÃO */
/*SOBRE NOS ---https://www.youtube.com/watch?v=bP83UT3Mpuk*/

section.topo-site{
  
  padding: 40px 4%;
}
section.topo-site .flex-esquerda{
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: row-reverse
}

.flex-esquerda{
  padding: 50px;
  display:flex;
  padding-right: 200px;
  padding-left: 200px;
}

.topo-site .txt-topo-site-esquerda  h1{
  font-family: poppins;
  color: #ffc800;
  font-size: 30px;
  line-height: 40px;
 
}

.topo-site .txt-topo-site-esquerda p{

  max-width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
  color:#ffffff;
  font-size: 30px;
  font-family: poppins;
  line-height: 1.5;
  text-align: justify;
  
  

}

.txt-topo-site-esquerda{
padding-left: 175px;
}

.sobre-nos-link {
 
  text-decoration: none;
  color: #ffffff;
  font-family: poppins;
}

.btn-nos{

  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #FFC700;
  border: 0;
  border-radius: 30px;
  cursor:pointer;
  font-family: poppins;
}

.btn-nos:hover{

  box-shadow: 0px 0px 8px #ffffff;
}


.topo-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}
/*FINAL FOTO DIREIA*/
/*-----------FOOTER-----------*/
.site-footer {
  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #020202; /* Cor de fundo do footer */
    color: white; /* Cor do texto */
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.footer-icon{
  list-style: none;
  align-items: center;
  justify-content: center;
}

.footer-icons{
  font-size: 20px;
  color: #ffffff;
  padding-block: 16px;
  text-decoration: none;
  font-family: poppins;
  margin-bottom: 3px;
}

.footer-icons:hover{
  color: #FFC700;
}

.footer-links:hover{
  color: #FFC700;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer-logo img {
  width: 250px;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 3px;

}
.tittle-footer{

color: #ffffff;
font-family: poppins;
margin-bottom: 3px;
padding-block: 16px;
}

.footer-links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: poppins;
}

.footer-contact .tittle-footer {
  font-family: poppins;
  margin-bottom: 10px;
  text-align: top; /* Alinha o texto à esquerda */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #0c0c0c;
  
}

.copy{
  font-family: poppins;
  font-size:20px;
  color:#ffffff;
  text-align: center;
  justify-content: center;
}




@keyframes flutuar{
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }
}

.container{
  display: flex;
  width: 900px; /*CARACTERES*/
  overflow: hidden;
}
.container .text{
  position: relative;
  color: #FFC700;
  font-size: 2px;
  font-weight: 600;
  font-family: poppins;
}
.container .text.first-text{
  color: #FFF;
}

.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #101113;
  border-left: 2px solid #ffc800;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}




/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
    z-index: 2; /* Certifica que o "X" fica acima de todos os elementos */
  }
  
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0c0c0c;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
    z-index: 1; /* Certifica que a lista de navegação fica acima do conteúdo da página */
  }
  
  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }
  
  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }
  
  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  
  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }
  
  /* Estilos ativos */
  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }
  
  .nav.active .nav-list a {
    opacity: 1;
  }
  
  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }
  
  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  
  .navbar-icon {
    list-style: none;
    padding-bottom: 10px;
    display: flex;
    gap: 15px;
    padding-left: 1px;
  
}

.topo-site .txt-topo-site  h1{
  font-family: poppins;
  color: #FFC700;
  font-size: 20px;
  line-height: 40px;
}

.topo-site .txt-topo-site p{

  max-width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
  color:#fff;
  font-size: 20px;
  font-family: poppins;
  line-height: 1.5;
  text-align: justify;
}

}

  
  

  
  
/* For medium devices */
  @media screen and (max-width: 768px) {
    section.topo-site {
      padding: 30px 5%; /* Ajuste o padding para melhor adaptação */
    }
  
    section.topo-site .flex {
      display: flex;
      flex-direction: column; /* Alinha itens em coluna */
      align-items: center;
      justify-content: center;
      gap: 30px; /* Ajuste o espaço entre os itens */
    }
  
    .flex {
      padding: 0px; /* Ajuste o padding para melhor adaptação */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .topo-site .txt-topo-site h1 {
      font-size: 28px; /* Ajustado o tamanho da fonte */
      line-height: 36px; /* Ajustado o line-height */
      text-align: center; /* Centralizado o texto */
      
    }
  
    .topo-site .txt-topo-site p {
      max-width: 85%; /* Ajustado o max-width */
      margin-top: 20px; /* Ajuste o margin para melhor adaptação */
      margin-bottom: 20px;
      font-size: 20px; /* Ajustado o tamanho da fonte */
      line-height: 1.5; /* Ajustado o line-height */
      text-align: justify;
      justify-content: center;
      padding-left: 30px;
    }
  
    .sobre-nos-link {
      text-decoration: none;
      color: #ffffff;
      font-family: poppins, sans-serif;
    }
  
    .btn-nos {
      padding: 10px 25px; /* Ajuste o padding para melhor adaptação */
      font-size: 18px; /* Ajustado o tamanho da fonte */
      font-weight: 600;
      
      
      cursor: pointer;
      font-family: poppins, sans-serif;
    }
  
    .btn-nos:hover {
      box-shadow: 0px 0px 8px #ffffff;
    }
  
    .btn-sobre {
      padding: 15px 15px; /* Ajuste o padding para melhor adaptação */
      font-size: 16px; /* Ajustado o tamanho da fonte */
      font-weight: 600; /* Ajustado o peso da fonte */
      border: 0;
      color: #fff;
      cursor: pointer;
      font-family: poppins, sans-serif;
      text-align: center;
    }
  
    .topo-site .img-topo-site img {
      max-width: 80%; /* Ajustado o tamanho máximo da imagem */
      padding-left: 30px; /* Ajuste o padding para melhor adaptação */
    }
  
    .container {
      width: 100%; /* Ajustado para 100% da largura da tela */
    align-items: center;
    justify-content: center;
    }
  
    .container .text {
      font-size: 20px; /* Ajustado o tamanho da fonte */
      justify-content: center;
    }
  
    .container .text.first-text {
      color: #ffffff;
      text-align: center; /* Centralizado o texto */
      padding-right: 6PX;
      
    }
  
    .text.sec-text:before {
      animation: animate 4s steps(12) infinite; /* Mantido o mesmo tempo da animação */
    }
  
    @keyframes animate {
      40%, 60% {
        left: calc(100% + 4px);
      }
      100% {
        left: 0%;
      }
    }

    .topo-site .txt-topo-site  h1{
      font-family: poppins;
      color: #FFC700;
      font-size: 20px;
      line-height: 40px;
    }
    
    .topo-site .txt-topo-site p{
    
      
      margin-top: 40px;
      margin-bottom: 40px;
      color:#fff;
      font-size: 20px;
      font-family: poppins;
      line-height: 1.5;
      text-align: justify;
    }

  }


/*MAPA-----------------------------------------------------------*/

svg text {
	fill: var(--default-strok);
	font-family: monospace;
	font-weight: bolder;
}

.map-area-transform{ /*CENTRALIZA O MAPA */
	text-align: center;
}

.legenda-select{
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	justify-content: center;
}

.aviso-select {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	justify-content: center;
	font-size: 20px;
}


.mapa-svg-estados {
	fill: #373737;
	-webkit-transition: .8s ease;
	-moz-transition: .8s ease;
	-ms-transition: .8s ease;
	-o-transition: .8s ease;
	transition: .8s ease;
	stroke-dasharray: 180%;
	stroke-dashoffset: -120%;
	stroke-width: 2px;
	stroke: var(--default-strok);
		transform: scale(1.2); /* Aumenta o tamanho em 50% */
		transform-origin: center; /* Centraliza a transformação */	
}

.mapa-svg-estados text {
	stroke: none;
}

.mapa-svg-estados:hover {
	cursor: pointer;
	fill: var(--default-grey-black-fill);
}

.mapa-svg-estados-active {
	cursor: pointer;
	stroke: var(--default-blue-stroke);
	fill: var(--default-grey-black-fill);
	stroke-dashoffset: 0%;
	-webkit-transition: .8s ease;
	-moz-transition: .8s ease;
	-ms-transition: .8s ease;
	-o-transition: .8s ease;
	transition: .8s ease;
}

.mapa-svg-estados-active text {
	stroke: none;
}

.pointer-svg-map {
	fill: var(--default-blue-stroke);
	animation-direction: normal;
	animation-delay: .3s;
}

.inactive-map-svg {
	opacity: .5;
	stroke: none !important;
}

.inactive-map-svg:hover {
	stroke-dashoffset: -120%;
	cursor: inherit;
	fill: var(--default-grey-black-fill);
}

@keyframes pointer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

#sotreq-select {
	display: flex;
	flex-direction: column;
	align-items: center; /* Centraliza horizontalmente o conteúdo dentro do container */
}

.class-select {
	outline: none;
	height: 40px;
	padding: 10px 18px;
	border-radius: 32px;
	color: #FFC700;
	margin-bottom: 2rem;
}

.select-container {
	width: 100%;
	margin-bottom: 20px;
	max-width: 300px;
	position: relative;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #181818;
	border: 2px solid #FFC700;
	border-radius: 1px;
	padding: 10px;
	font-size: 16px;
	color: #4CAF50;
	cursor: pointer;
	outline: none;
	width: 100%;
}

select::-ms-expand {
	display: none; /* Esconde a seta padrão no Internet Explorer */
}

select option {
	background-color: #181818;
	color: #4CAF50;
	padding: 10px;
}

.select-container::after {
	content: '\25BC'; /* Seta para baixo */
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none; /* Para não interferir na seleção */
	color: #00ff08;
}

#estado-info{

	color: #ff0000;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.txt-estados{
	margin: 10px;
	
}

.mapa-h1{
	text-align: center;
	justify-content: center;
	color: #4CAF50;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 20px;
	
}

.mapa-p, ul{
	text-align: justify;
	font-size: 26px;
	font-family: Arial, Helvetica, sans-serif;
	list-style: circle;
	color: #ffffff;
}

.txt-estados .estado .conteudo {
    display: none; /* Esconde o conteúdo por padrão */
}

.txt-estados .estado .mapa-h1 {
    display: none; /* Esconde o h1 por padrão */
}

.txt-estados .estado.active .conteudo {
    display: block; /* Mostra o conteúdo do estado ativo */
}

.txt-estados .estado.active .mapa-h1 {
    display: block; /* Mostra o h1 do estado ativo */
}

.conteudo{
	margin: 100px;
}

.container-select { /* ou a classe que você estiver usando */
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza os itens no centro, se necessário */
  justify-content: center; /* opcional, se você quiser centralizar verticalmente */
}

.containerr{

  background-color: #00ff08;
  display: block;
  font-size: 76px;
  font-family: poppins;
  justify-content: left;

}