/*POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
	background: #050506;
	
	align-items: center;
	justify-content: center;
	height: 100vh; /* Garante que o body ocupe a altura total da viewport */
	margin: 0; /* Remove margens padrão */
	--default-blue-stroke: #4CAF50;
	--default-grey-black-fill: #525252;
	--default-strok: rgb(141, 141, 141);
	scroll-behavior: smooth;
}


svg text {
	fill: var(--default-strok);
	font-family: monospace;
	font-weight: bolder;
}

.map-area-transform{ /*CENTRALIZA O MAPA */
	text-align: center;
	padding-top: 3%;
}

.legenda-select{
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	justify-content: center;
}

.aviso-select {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	justify-content: center;
	font-size: 20px;
}

.efeito-descer-a{
	fill: #373737;
	-webkit-transition: .8s ease;
	-moz-transition: .8s ease;
	-ms-transition: .8s ease;
	-o-transition: .8s ease;
	transition: .8s ease;
	stroke-dasharray: 180%;
	stroke-dashoffset: -120%;
	stroke-width: 2px;
	stroke: var(--default-strok);
	outline: none; /* Remove o contorno ao clicar */

}



  
  .efeito-descer-a:focus {
	outline: none; /* Remove o contorno ao focar no link */
  }
  
.mapa-svg-estados {
	fill: #373737;
	-webkit-transition: .8s ease;
	-moz-transition: .8s ease;
	-ms-transition: .8s ease;
	-o-transition: .8s ease;
	transition: .8s ease;
	stroke-dasharray: 180%;
	stroke-dashoffset: -120%;
	stroke-width: 2px;
	stroke: var(--default-strok);
		transform: scale(1.2); /* Aumenta o tamanho em 50% */
		transform-origin: center; /* Centraliza a transformação */	
}

.mapa-svg-estados text {
	stroke: none;
}

.efeito-descer-a:hover {
	cursor: pointer;
	fill: var(--default-grey-black-fill);
}


.mapa-svg-estados-active {
	cursor: pointer;
	stroke: #ffc800;
	fill: var(--default-grey-black-fill);
	stroke-dashoffset: 0%;
	-webkit-transition: .8s ease;
	-moz-transition: .8s ease;
	-ms-transition: .8s ease;
	-o-transition: .8s ease;
	transition: .8s ease;
}

.mapa-svg-estados-active text {
	stroke: none;
}

.pointer-svg-map {
	fill: var(--default-blue-stroke);
	animation-direction: normal;
	animation-delay: .3s;
}

.inactive-map-svg {
	opacity: .5;
	stroke: none !important;
}

.inactive-map-svg:hover {
	stroke-dashoffset: -120%;
	cursor: inherit;
	fill: var(--default-grey-black-fill);
}

@keyframes pointer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

#sotreq-select {
	display: flex;
	flex-direction: column;
	align-items: center; /* Centraliza horizontalmente o conteúdo dentro do container */
}

.class-select {
	outline: none;
	height: 40px;
	padding: 10px 18px;
	
	color: #4CAF50;
	margin-bottom: 2rem;
}

.select-container {
	width: 100%;
	margin-bottom: 20px;
	max-width: 300px;
	position: relative;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #181818;
	border: 2px solid #4CAF50;
	border-radius: 1px;
	margin-top: 75px;
	padding: 10px;
	font-size: 16px;
	color: #4CAF50;
	cursor: pointer;
	outline: none;
	width: 100%;
}

select::-ms-expand {
	display: none; /* Esconde a seta padrão no Internet Explorer */
}

select option {
	background-color: #181818;
	color: #4CAF50;
	padding: 10px;
}

.select-container::after {
	content: '\25BC'; /* Seta para baixo */
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none; /* Para não interferir na seleção */
	color: #00ff08;
}

#estado-info{

	color: #ff0000;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.txt-estados{
	margin: 10px;
	
}

.mapa-h1{
	color: #FFC700;
    font-family: poppins;
    padding-top: 30px;
    
}

li{
	list-style-type: none;
}
.mapa-h2{
	color: #FFC700;
    font-family: poppins;
    padding-top: 30px;
	font-size: 30px
}

.mapa-h3{
	color: #FFC700;
    font-family: poppins;
    padding-top: 30px;
	font-size: 25px
}

.p-mapa{
    font-family: poppins;
    font-size: 18px;
    color: #ffffff;
    justify-content: justify;
    text-align: justify;
}

.img-map{

	text-align: center;
	justify-content: center;
	border-radius: 20px;
	 height: 50%;
	 width: 50%;
}
.mapa-p, ul{
	text-align: justify;
	font-size: 26px;
	font-family: Arial, Helvetica, sans-serif;
	list-style: circle;
	color: #ffffff;
}

.txt-estados .estado .conteudo {
    display: none; /* Esconde o conteúdo por padrão */
}

.txt-estados .estado .mapa-h1 {
    display: none; /* Esconde o h1 por padrão */
}

.txt-estados .estado.active .conteudo {
    display: block; /* Mostra o conteúdo do estado ativo */
}

.txt-estados .estado.active .mapa-h1 {
    display: block; /* Mostra o h1 do estado ativo */
}

.site-footer {
    background-color: #ff000000;
    color: #ffffff;
    font-family:  poppins;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ffc800;
    padding-top: 20px;
}



.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 100px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #ffc800;
    text-decoration: none;
}

.footer-contact h3 {
    margin-bottom: 10px;
    text-align: top; /* Alinha o texto à esquerda */
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ffc800;
    
}

.copy{
    font-size:20px;
    color:#fff;
    text-align: center;
    justify-content: center;
}

.li-footer{

    text-decoration: none;
    list-style-type: none;
}


